@model Domain.Filters.UsinaFilter
<form asp-action="Index" method="get">
    <section class="col-12">
        <div class="row">
            <div class="col-md-4">
                <label>Fornecedor</label>
                <input type="text" class="form-control" asp-for="Fornecedor">
            </div>
            <div class="col-md-4">
                <label>UC da Usina</label>
                <input type="text" class="form-control" asp-for="UC">
            </div>
            <div class="col-md-4">
                <label >Ativo</label>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="true" asp-for="Ativo">
                        <label class="form-check-label" for="inlineRadio1">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="false" asp-for="Ativo">
                        <label class="form-check-label" for="inlineRadio2">Não</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="null" asp-for="Ativo">
                        <label class="form-check-label" for="inlineRadio3">Indiferente</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 ">
                <button class="btn btn-primary" type="submit">Filtrar</button>
            </div>
        </div>
    </section>
</form>

